* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #f1f1f1;
    display: flex;
    font-family:'oswald';
}

.container {
    max-width: 800px;
    width: 600px;
    margin: auto;
    text-align: center;
    padding: 16px 32px;
    margin-top: 32px;
}

form input {
    width: 60%;
    height: 44px;
    padding: 0 8px;
    margin: 16px 0;
    font-size: 18px;
}

form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
   width: 19%; 
   height: 44px;
}

ul {
    padding: 0 12px;
}

ul li {
    list-style:number;
    cursor: pointer;
}

ul li:hover {
    color: #666;
}

hr {
    margin: 8px 0;
    display: none;
}